@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');
.nunito {
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.el-tag + .el-tag{
  margin-left: 10px;
}
